*{
	margin:0;
	padding:0;
}
.home-container{
width:100%;
height:100%;
}
.home-top-nav{
width:100%;
border-bottom:1px solid #ccc;
top:0;
position:fixed;
background-color:white;
}
.top-nav-bar{
width:100%;
max-width:1024px;
margin:auto;
height:60px;
}
.top-nav-bar-icon{
float:left;
width:33.33%;
}
.top-nav-bar-icon-inside{
max-width:200px;
margin:auto;
width:100%;
}
.top-icon-left{
float:left;
}
.top-icon-left.icon{
width:10%;
}
.top-icon-left.bar{
width:10%;
}
.top-icon-left.name{
width:80%;
}
.top-icon-left-image{
width:100%;
max-width:20px;
margin:auto;
height:20px;
}
.top-icon-left-image img{
width:100%;
height:100%;
}
.top-icon-left-image a{
line-height:60px;
}
.top-icon-left-name{
width:100px;
margin-top:10px;
}
.top-icon-left-name img{
width:100%;
height:100%;
}
.top-icon-right{
float:right;
}
.top-icon-right.icon{
width:33.33%;
}
.top-icon-right-image{
width:100%;
max-width:20px;
margin:auto;
height:20px;
}
.top-icon-right-image img{
width:100%;
height:100%;
}
.top-icon-right-image a{
line-height:60px;
}
input[type=text]{
width:100%;
padding:5px;
border:1px solid #ccc;
background-color:#f9f9f9;
text-align:center;
margin-top:10px;
border-radius:5px;
}
.home-body-container{
width:100%;
max-width:1024px;
margin:auto;
height:100%;
margin-top:50px;
}
.home-body-container-inside{
float:left;
}
.home-body-container-inside.post{
width:70%;
}
.home-body-container-inside.user{
width:30%;
}
.home-post-container{
width:100%;
max-width:80%;
margin:auto;
border:1px solid #ccc;
margin-top:50px;
}
.home-post-nav{
width:100%;
height:50px;
}
.home-post-top-nav{
float:left;
}
.home-post-top-nav.image{
width:20%;
}
.home-post-top-nav.name{
width:70%;
}
.home-post-top-nav.icon{
width:10%;
}
.home-post-top-nav-image{
width:100%;
max-width:30px;
height:30px;
margin:auto;
margin-top:8px;
}
.home-post-top-nav-image img{
width:100%;
height:100%;
}
.home-post-top-nav a{
line-height:50px;
}
.home-post-post{
width:100%;
height:400px;
}
.home-post-post img{
width:100%;
height:100%;
}
.home-post-detail{
width:100%;
}
.home-post-like{
width:100%;
height:50px;
}
.home-post-like-icon{
float:left;
}
.home-post-like-icon.like{
width:10%;
}.home-post-like-icon.comment{
width:10%;
}.home-post-like-icon.save{
width:10%;
}
.home-post-like-icon.share{
width:10%;
float:right;
}
.home-post-like-icon-image{
width:100%;
max-width:25px;
height:25px;
margin:auto;
margin-top:8px;
}
.home-post-like-icon-image img{
width:100%;
height:100%;
}
.home-post-detail-post{
width:100%;
}
.home-post-detail-post a{
display:block;
margin-left:15px;
margin-top:5px;
}
.home-post-comment{
width:100%;
overflow:hidden;
border-top:1px solid #ccc;
height:50px;
}
.home-post-comment-inside{
float:left;
}
.home-post-comment-inside.comment{
width:80%;
}
.home-post-comment-inside.post{
width:20%;
}
.home-post-comment-inside input[type=text]{
width:100%;
padding:5px;
border:none;
background-color:#f9f9f9;
text-align:start;
margin-top:10px;
margin-left:10px;
}
.home-post-comment-inside button{
	padding:5px;
	margin-top:10px;
margin-left:50px;
border:none;
color:#3897f0;
backgroud-color:white;
}
.home-user-container{
width:70%;
border:1px solid #ccc;
margin-top:50px;
}
.home-user-detail{
width:100%;
overflow:hidden;
padding-top:5px;
padding-bottom:5px;
}
.home-user-detail-inside{
float:left;
}
.home-user-detail-inside.image{
width:30%;
}
.home-user-detail-inside.name{
width:70%;
}
.home-user-detail-inside-image{
width:100%;
max-width:40px;
height:40px;
margin:auto;
}
.home-user-detail-inside-image img{
width:100%;
height:100%;
}
.home-follow-container{
	width:70%;
border:1px solid #ccc;
margin-top:50px;
overflow:hidden;
}
.home-follow-nav{
	width:100%;
	padding:5px;
}
.home-follow-nav-inside{
	width:50%;
	float:left;
}
.home-follow-nav-inside.suggest{
	width:70%;
}
.home-follow-nav-inside.all{
	width:30%;
}
.home-follow-detail{
	width:100%;
	overflow:hidden;
	padding-top:5px;
	padding-bottom:5px;
}
.home-follow-detail-inside{
	width:33.33%;
	float:left;
}
.home-follow-detail-inside-image{
	width:100%;
	max-width:30px;
height:30px;
margin:auto;
}
.home-follow-detail-inside-image img{
	width:100%;
	height:100%;
}
.home-follow-detail-inside button{
	margin-top:5px;
	margin-left:10px;
	padding:3px;
	color:#3897f0;
	background-color:white;
	border:none;
}
.home-follow-detail-inside a{
	margin-top:10px;
}








